.idea/
.idea/*
.idea
*.DS_Store
.DS_Store
workspace.xml

!/protected/runtime/
/protected/runtime/*
!/protected/runtime/.gitkeep

!/cgi-bin/
/cgi-bin/*
!/cgi-bin/.gitkeep

!/protected/components/QiwiBot/captcha/
/protected/components/QiwiBot/captcha/*
!/protected/components/QiwiBot/captcha/.gitkeep

!/protected/components/QiwiBot/users/
/protected/components/QiwiBot/users/*
!/protected/components/QiwiBot/users/.gitkeep

!/protected/components/Sender/cookie/
/protected/components/Sender/cookie/*
!/protected/components/Sender/cookie/.gitkeep

!/protected/components/Sender/header/
/protected/components/Sender/header/*
!/protected/components/Sender/header/.gitkeep
!/protected/components/Sender/header/browser.txt

!/protected/components/TestQiwiBot/captcha/
/protected/components/TestQiwiBot/captcha/*
!/protected/components/TestQiwiBot/captcha/.gitkeep

!/protected/components/TestQiwiBot/users/
/protected/components/TestQiwiBot/users/*
!/protected/components/TestQiwiBot/users/.gitkeep

!/protected/components/WexCurlBot/users/
/protected/components/WexCurlBot/users/*
!/protected/components/WexCurlBot/users/.gitkeep

!/protected/runtime/cache/
/protected/runtime/cache/*
!/protected/runtime/cache/.gitkeep

!/protected/runtime/threader/
/protected/runtime/threader/*
!/protected/runtime/threader/.gitkeep

/protected/runtime/autoAddAccounts.txt
/protected/runtime/identData.csv

!/protected/log/
/protected/log/*
!/protected/log/.gitkeep

/log.txt
log.txt

/assets/*
!/assets/.gitkeep

/cgi-bin/*
!/cgi-bin/.gitkeep

/.idea/

